<!-- Main -->
  <div id="main">
    <div class="inner">
      <header>
        <h1 class="pre-line">축하합니다!<br>
        당신은 Genius Lion 에<br>
        초대되었습니다.</h1>
        <p>
          당신이 초대된 이유는 당신의 특별한 재능 때문입니다. 주변을 끌어들이는 화술, 높은 지능과 순발력, 포커페이스와 승부사적 기질, 산전수전을 겪으면서 쌓아온 위기 대처 능력, 매력적인 외모와 사람을 이끄는 카리스마.<br><br>
          Genius Lion은 논리적 사고와 친화력을 발휘해야 하는 게임들이 마련되어 있습니다.
          여러분은 앞으로 몇 가지 갈등을 겪게 될 것입니다. 과정과 결과, 집단과 개인, 아름다운 패배와 추악한 승리. 최후의 승자가 되기 위해서는 자신만의 생존전략을 찾아야만 할 것입니다.
          단, 당신의 모든 선택은 부메랑이 되어 당신에게 돌아올 수 있다는 것을 명심하십시오. 당신은 하룻밤 만에 영웅이 될 수도 악당이 될 수도 있습니다. 이 위험천만한 게임에 도전하시겠습니까?</p>
          <a href="#" class="button primary margin-auto" id="scroll-gen">도전하기</a>
          <br><br>
      </header>
