/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= stub active_admin
 */
 .container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 320px;
 }

 .center {
   text-align: center;
 }

 .float-right {
   float: right;
 }

 #profileEditImg {
   display: flex;
   width: 150px;
   height: 150px;
   margin-left: 80px;
 }

 .profile-upload-margin {
   margin-left: 120px;
 }

 .hidden-file-field {
   display: none;
 }

 label {
   margin: 0 0 0 0 !important;
 }

 .buttons {
   margin-top: 10px;
   float: right;
 }

 .column {
   flex-direction: column;
 }

 .show-height {
   max-height: 300px;
 }

 .ready-button {
   float: right;
 }

 .align-right {
   align-right: 200px;
   margin-left: auto;
 }

 .pre-line {
   white-space: pre-line;
 }

 .hidden-room-button {
   display: none;
 }

 .list-image-size {
   width: 150px;
   height: 150px;
 }

 .showContent {
   overflow: hidden;
   display: none;
 }

 .showSmallImage {
   border-radius: 100%;
   width: 35px;
   height: 35px;
 }

 .pre {
   white-space: pre;
 }

 .roomShowAlertFont {
   font-size: 12px;
 }

 .showImageSize {
   width: 60px;
   height: 40px;
 }

 #messages {
   border: 1px solid #ccc;
   height: 25em;
   padding: 1em;
   overflow: auto;
   list-style-type: none;
   margin-top: auto;
 }

 // #new_message {
 //   input[type=submit]{
 //     display: none;
 //   }
 // }

 #new_user {
   margin-bottom: 2em;
 }

 .margin-auto {
   margin: auto;
 }

 .card-size {
   width: 374px;
   height: 522px;
 }

 .margin-top-auto {
   margin-top: auto;
 }
