<!DOCTYPE html>
<html>
  <head>
    <title>Vueapp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="theme-color" content="#2196f3">
    <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap:">
    <% if controller_name == "pages" && action_name == "test" %>
      <%= javascript_pack_tag 'test_erb' %>
    <% else %>
      <%= javascript_pack_tag 'real_erb' %>
    <% end %>
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/framework7.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
